@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Norse Bold";
    src: url("../fonts/Norse-Bold.otf");
}

:root {
    font-family: 'Roboto', sans-serif;
}

.image-sidebar {
    background: no-repeat url("../img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.image-sidebar div {
    box-sizing: border-box;
    height: 130px;
    margin-top: 170px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-sidebar img {
    height: 110px;
    width: auto;
}

.image-sidebar h1 {
    font-size: 5rem;
    font-family: "Norse Bold", sans-serif;
}

.image-sidebar p {
    text-align: center;
    font-size: 0.7rem;
}

.image-sidebar p:last-of-type,
.image-sidebar a {
    color: rgba(255,255,255,0.75);
}

.form-page {
    display: flex;
    height: 100vh;
}

.form-section {
    flex: 4 0 0;
}